body {
    overflow: hidden
}

.nav-logo {
    width: 200px;
}

.nav-left {
    margin-left: 75px;
}

.nav-right {
    margin-right: 90px;
    margin-bottom: 4px;
}

nav.navbar {
    background: linear-gradient(90deg, #0b1d81 15%, #1a3eb7 100%);
    height: 70px;
    display: flex;
    justify-content: center;
}

.arabic {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
}

.background {
    img {
        width: calc(100vh + 380px);
        height: calc(100vh - 280px);
    }
}

.main {
    display: flex;
    justify-content: center;

    * {
        position: absolute;
    }

    .background {
        position: absolute;
        background-image: url("https://online.sib.ae/node_modules/speedboat_ui/images/sb_images/bg-banner-login.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 80vh;
    }
}

.login {
    background-color: white;
    width: 408px;
    height: 333px;
    margin-top: 60px;
    border-radius: 4px;
    display: flex;
}

.login-text {
    color: #0b1d81;
    opacity: 0.87;
    font-weight: 600;
    font-size: 24px;
    font-family: "Rubik", sans-serif;
    margin-top: 32px;
    margin-left: 32px;
    cursor: pointer;
}

.personal-btn {
    margin-top: 80px;
    margin-left: 40px;
    background-color: #2121;
    font-weight: 400 !important;
    font-family: 'Roboto', 'Noto', sans-serif !important;
}

.business-btn {
    margin-top: 80px;
    margin-left: 210px;
    border: 1px solid #c3c8ea !important;
}

.login-type-btn {
    height: 40px;
    width: 137px;
    font-family: "Rubik", sans-serif;
    font-weight: 100;
    border-radius: 3px;
    border: 2px solid #0b1d81;
    color: #0b1d81;
}

.user-id-input {
    margin-top: 160px;
    margin-left: 40px;

    input {
        border: none;
        background: none;
        border-bottom: 1px solid rgba(11, 29, 129, 0.48);
        width: 320px;
    }

    img {
        margin-left: 290px;
    }
}

.forgot-id {
    margin-top: 200px;
    margin-left: 290px;
    white-space: nowrap;

    span {
        font-family: "Rubik", sans-serif;
        font-size: 14px;
        color: #0b1d81;
    }
}

.secure-login {
    margin-top: 230px;
    margin-left: 40px;
    white-space: nowrap;

    button {
        width: 320px;
        height: 50px;
        border-radius: 50px;
        border: none;
        background: linear-gradient(90deg, #0b1d81 15%, #1a3eb7 100%);
        color: white;
    }
}

.no-account {
    margin-top: 300px;
    margin-left: 100px;
    white-space: nowrap;

    .no-account-text {
        color: #0b1d81;
    }
}

.link {
    color: #0061ff !important;
}

.security-tips {
    margin-top: 450px;
    display: flex;
    justify-content: center;

    .heading {
        color: #faa634;
        font-size: 30px;
        font-weight: 600;
        font-family: "Rubik", sans-serif;
        white-space: nowrap;
    }

    .security-tip {
        margin-right: 300px;
        
        img {
            width: 40px;
        }

        div {
            font-family: "Rubik", sans-serif;
            line-height: 17px;
            color: white;
            max-width: none;
            text-align: left;
            margin-left: 50px;
        }
    }

    .login-to {
        margin-top: 50px;

        div {
            width: 300px;
            margin-top: 5px;
        }
    }

    .sensitive-info {
        margin-top: 100px;

        img {
            margin-top: 25px;
        }

        div {
            width: 300px;
            margin-top: 5px;
        }
    }
}